<%- include('../presentation-header') %>
<%- include('../presentation-header') %>

<section>
	<h1>VDE Tool</h1>
	<p>Make build mutiple branches much more easier</p>
	<p>
		<small>Created by <a href="https://github.com/rainj">Rain Jiang</a></small>
	</p>
</section>

<section>
	<h1>Pain Point</h1>
	<p> When I try to fix defects in Learn, I find these problems </p>
	<ul>
		<li>Some defects need to <strong style="color:red">Port</strong> to other branches</li>
		<li>Keep multiple branches in a laptop makes the development environment <strong style="color:red">Chaos</strong></li>
		<li>It takes <strong style="color:red">Long</strong> time switch between different branches</li>
		<li>...</li>
	</ul>
</section>

<section>
	<h1>What if ...</h1>
	<ul>
		<li>When I need a branch development environment, it <strong style="color:red">Right</strong> there</li>
		<li>They are <strong style="color:red">Isolate</strong> development environments, so they will not affect each other </li>
		<li>Build development environment in <strong style="color:red">Remote</strong> server <strong style="color:red">Automatically</strong> instead of build them manually in my laptop</li>
		<li>...</li>
	</ul>
</section>

<section>
	<h1>VDE is comming ...</h1>
	<p>VDE is a virtual development environment tool, it will provide a web site. From there, you can build a development environment for each branch by one click</p>
</section>

<section>
	<h1>Demo</h1>
	<ul>
		<li>How it works?</li>
		<li>How long will it take to build a new branch development environment?</li>
		<li>Which part still need to be improved?</li>
	</ul>
</section>

<section>
	<h1>Architecture</h1>
	<p>Virtualbox + Vagrant </p> 
	<p> NodeJS + Angular</p>
</section>

<section>
	<h1>What still need to improve</h1>
	<p>Archive the generated vm to a ftp server, so that the developer can download it directly </p> 
	<p>Share some resource to descrease the vm building time</p>
</section>

<section>
	<h2>Q&A</h2>
	<p>Thank You!</p>
</section>


<%- include('../presentation-footer') %>