		</div>
	</div>

	<script src="/components/revealjs/lib/js/head.min.js"></script>
	<script src="/components/revealjs/js/reveal.js"></script>
	<script src="/components/jquery/dist/jquery.js"></script>
	<% jsFiles.forEach(function(filename){ %>
		<script src="<%- filename %>"></script>
	<% }) %>

</body>
</html>