<%- include('../presentation-header') %>
<section>
    <h1>Team Kunlun Demo</h1>
    <p>Achivements of Sprint 18</p>
</section>
<section>
    <h2>Sprint 18 Achivements</h2>
    <ul>
        <li>NERV VERIFY: 27, CODE REVIEW/NERV TEST: 10, Story Spike 2</li>
    </ul>
</section>
<section>
    <h2>Demos</h2>
    <li><a href="https://jira.bbpd.io:8443/browse/LRN-101660">LRN-101660</a> NERV TEST <br>
    <small>UAT: Calender Event Notification is not displayed for the student in Course Outline Page.</small></li>
    <li><a href="https://jira.bbpd.io:8443/browse/LRN-100742">LRN-100742</a> NERV VERIFY <br>
    <small>UAT - Classic Course Thread page is not displayed properly when accessed discussion activity notification from stream</small></li>
    <li><a href="https://jira.bbpd.io:8443/browse/LRN-101959">LRN-101959</a> IN TESTING <br>
    <small>Class Discussion editor strange behavior on pasting too long content</small></li>
</section>
<section>
    <h2>Q&A</h2>
    <p>Thank You!</p>
</section>
<%- include('../presentation-footer') %>