<%- include('../presentation-header') %>
<section>
	<h1>Hello World!</h1>
	<p>just a hello world</p>
	<p>
		<small>Created by <a href="https://github.com/rainj">Rain Jiang</a></small>
	</p>
</section>

<%- include('../presentation-footer') %>