<%- include('../presentation-header') %>

<section>
	<h1>Team Kunlun Demo</h1>
	<p>Achivements of Sprint 15 and Sprint 16</p>
</section>

<section>
	<h2>Sprint 15 Achivements</h2>
	<ul>
		<li><a href="https://jira.bbpd.io/browse/LRN-89024">LRN-89024</a> Code Review <br>
		<small>Input error validation incorrectly highlights new fields as incorrect  </small></li>
		<li><a href="https://jira.bbpd.io/browse/LRN-94243">LRN-94243</a> Code Review <br>
		<small>ultra discussions: keyboard focus returns to top of page after authoring a comment or reply</small></li>
		<li><a href="https://jira.bbpd.io/browse/LRN-96892">LRN-96892</a> Nerv Verified <br>
		<small>Course filter is narrow in mobile web page</small></li>
		<li><a href="https://jira.bbpd.io/browse/LRN-98584">LRN-98584</a> Code Review <br>
		<small>Accessibility issue on Discussion edition page name pencil icon can not be focused</small></li>
		<li><a href="https://jira.bbpd.io/browse/LRN-94243">LRN-94243</a> Code Review <br>
		<small>ultra discussions: keyboard focus returns to top of page after authoring a comment or reply</small></li>
	</ul>
</section>

<section>
	<h2>Sprint 16 Achivements</h2>
	<ul>
		<li><a href="https://jira.bbpd.io/browse/LRN-94256">LRN-94256</a> Code Review <br>
		<small>ultra discussions: Pressing escape after pressing + closes discussions panel</small></li>
		<li><a href="https://jira.bbpd.io/browse/LRN-99483">LRN-99483</a> Nerv Test <br>
		<small>ULTRA Bug Bash -Unable to open Classic course in Samsung Galaxy Tab tablet</small></li>
	</ul>
</section>

<section>
	<h2>Q&A</h2>
	<p>Thank You!</p>
</section>

<%- include('../presentation-footer') %>