<%- include('../presentation-header') %>

<section>
	<h1>Building Script</h1>
	<h3>Build Script in Learn System</h3>
	<p>
		<small>By <a href="https://github.com/rainj">Rain Jiang</a></small>
	</p>
</section>

<section>
	<section>
		<h2>Tools</h2>
		<div>
			<ul>
				<li class="fragment">Ant</li>
				<li class="fragment">Maven</li>
				<li class="fragment">Gradle</li>
			</ul>
		</div>
	</section>
	<section>
		<h2>Ant</h2>
	</section>
	<section>
		<h2>Maven</h2>
	</section>
	<section>
		<h2>Gradle</h2>
	</section>
</section>

<section>
	<section>
		<h2>Learn Installation</h2>
		<p>
			<small>Install learn in local machine</small>
		</p>
	</section>
	<section>
		<h2>Learn in Perforce</h2>
		<div class='fragment'>
			<p>
				<small>
					<code>build refresh install</code>
				</small>
			</p>
		</div>
		<div class='fragment'>
			<p>
				<small class='fragment'>build source</small> 
				<small class='fragment'>-></small>
				<small class='fragment'>create installer</small>
				<small class='fragment'>-></small>
				<small class='fragment'>execute installer</small> 
			</p>
		</div>
		<div class='fragment'>
			<p>
				<small>
					<code>build refresh installer</code>
				</small>
			</p>
		</div>
		<div class='fragment'>
			<p>
				<small>
					<code>build run-installer</code>
				</small>
			</p>
		</div>
	</section>
	<section>
		<h2>Learn in Git</h2>
		<div class='fragment'>
			<p>
				<small>
					<code>gdl installLearn</code>
				</small>
			</p>
		</div>
		<div class='fragment'>
			<p>
				<small>
					<code>build refresh install</code>
				</small>
			</p>
		</div>
	</section>
</section>

<section>
	<h2>Learn in Git</h2>

</section>

<section>
	<h1>Q & A </h1>
	<p>
		Created by <a href="https://github.com/rainj">Rain Jiang</a> with <a href="https://github.com/rainj/cache-in-learn.git">Source Code</a>
	</p>
</section>

<%- include('../presentation-footer') %>