<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:36000/livereload.js"></script>
  <% } %>
  <link rel="stylesheet" href="/presentations/components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
