<%- include('../presentation-header') %>

<section>
	<h1>Cache in Learn</h1>
	<h3>Usage of cache in Learn System</h3>
	<p>
		<small>Created by <a href="https://github.com/rainj">Rain Jiang</a></small>
	</p>
</section>

<section>
	<section>
		<h2>Cache</h2>
		<p>
			In computing, a cache is a component that stores data so future requests for that data can be served faster; the data stored in a cache might be the results of an earlier computation, or the duplicates of data stored elsewhere
		</p>
	</section>
	<section>
		<h2>Computer Memory Hierarchy</h2>
		<div class="triangle">
    		<div class="triangle triangle-1st" data-toggle"tooltip" data-placement="right" title="Processor Registers:"> <a onclick="alert('info')"></a></div>
    		<div class="triangle triangle-2nd" data-toggle"tooltip" data-placement="right" title="Processor Cache"></div>
    		<div class="triangle triangle-3rd" data-toggle"tooltip" data-placement="right" title="RAM"></div>
    		<div class="triangle triangle-4th" data-toggle"tooltip" data-placement="right" title="Flash/USB"></div>
    		<div class="triangle triangle-5th" data-toggle"tooltip" data-placement="right" title="Hard Drive"></div>
    		<div class="triangle triangle-6th" data-toggle"tooltip" data-placement="right" title="Tap"></div>
		</div>
	</section>

	<section>
		<h2>Cache Usage</h2>
	</section>

	<section>
		<h2>Problems when using Cache</h2>
	</section>
</section>

<section>
	<section>
		<h2>What we want to talk today are</h2>
		<div>
			<div class="logo">
				<img class="fragment" src="/presentations/img/cache-in-learn/redis.png" height="100" width="100">
				<img class="fragment" src="/presentations/img/cache-in-learn/ehcache.jpeg" height="100" width="100">
				<img class="fragment" src="/presentations/img/cache-in-learn/blackboard.jpg" height="100" width="100">
			</div>
		</div>
	</section>
</section>

<section>
	<section>
		<h2>Redis</h2>
		<div>
			
		</div>
	</section>

	<section>
		<h2>Redis Architecture</h2>
	</section>
</section>

<section>
	<section>
		<h2>Ehcache</h2>
	</section>

	<section>
		<h2>Ehcache Architecture</h2>
	</section>
</section>

<section>
	<h2>Cache in Learn</h2>
	<ul>
		<li class="fragment">Cache Framework</li>
		<li class="fragment">DAO Layer Cache</li>
		<li class="fragment">Router Token Cache</li>
	</ul>
</section>

<section>
	<h2>Cache Framework</h2>
</section>

<section>
	<h2>DAO Layer Cache</h2>
</section>

<section>
	<h2>Tokens Cache</h2>
</section>

<section>
	<h2>Improvement</h2>
	<p>
		
	</p>
</section>

<section>
	<h1>Q&A</h1>

	<p>
		<small>
			Created by <a href="https://github.com/rainj">Rain Jiang</a> with <a href="https://github.com/rainj/cache-in-learn.git">Source Code</a>
		</small>
	</p>
</section>

<%- include('../presentation-footer') %>

